body {
    background-color: #c4b085;
    background: url(../images/1.jpg);
    background-position: center;
}
h1{
    font-size: 40px;
}
.title3{
    font-size: 23px;
    color: #1e24a7;
}

.title0{
    text-indent: 15px;
    text-align: center;
    width: 450px;
    height: 515px;
    background: #dbb560;
    border-radius: 50px / 50px;
    margin-left: auto;
    margin-right: auto;
    margin-top:10%;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
a {
    color: #584121;
    font-size: 100%;

}
/*
a:hover{
  font-size: 110%;
}
*/
#form{
    text-align: center;
    width: 200px;
    height: 140px;
    background: #dbb560;
    margin-right: inherit;
    border-radius: 50px / 50px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    font-size: 20px;
    position: fixed;
    left: 25px;
    top: 145px;
    padding: 15px;
}
.img{
    position: absolute;
    right: 0px;
    bottom: -450px;
}
font-family: 'Roboto', sans-serif;
